# data
/Anims/asc_anims
/Music
/Presets
/Video
/Worlds

# meshes
/Meshes/*
!/Meshes/_compiled
/Meshes/_compiled/INVISIBLE_*

# scripts
/Scripts/_Compiled
/Scripts/system/*
!/Scripts/system/PFX
!/Scripts/system/SFX

# vscode
/.vscode